body{
	margin: 0;
	background-color: #E5DCC3;
}
a{
	text-decoration: none;
	color: black;
}
.navbar{
	background-color: white;
	height: 4em;
	margin: 0;
	position: sticky;
}
.logo{
	width: 10%;
	height: 90%;
	float: left;
}

.logo:hover{
	transform: scale(1.4);
}

.nav-item{
	float: right;
	width: 90%;
}

.nav-item ul{
	width: 75%;
	display: flex;
	justify-content:space-around;
}

.nav-item ul li{
	list-style: none;
	font-size: 1.2rem;
	font-family: 'Lobster',cursive;
}

.nav-item ul li:hover {
   color: #80ED99;
   text-decoration: line-through;
}

.content{
	margin-top: 30px;
}

.content h1{
	text-align: center;
	font-family: ;
}

.content .photo{
	float: left;
	width: 50%;
}

.content-photo{
	width:50%;
	height: auto;
	margin-left: 50%;
	margin-top: 10px;
}


 .content .flip-card {
  background-color: transparent;
  width: 30%;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 500px; /* Remove this if you don't want the 3D effect */
  float: right;
  margin-top: 60px;
  margin-right: 18%;
  text-align: center;
}

.flip-card-inner {
  width: 30%%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-front h2 span{
	color: darkcyan;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.fbtn{
	margin-right: 20px;
}

.fbtn:hover{
	background-color: white;
	color:Blue;

}

.tbtn:hover{
	background-color: blue;
	color: white;
}

.footer{
	width: 100%;
	height: 40px;
	background-color: white;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
}

.footer h3{
	margin-bottom: 5px;
}

.cv{
	margin-top: 100px;
	height: 400px;
}

.cv .pdfcv{
	margin-top: 100px;
}